webpage/Node-red/Backup.txt
[{"id":"77af24f0.48e874","type":"mqtt-broker","broker":"op-en.se","port":"1883","clientid":"VideoFeedback"},{"id":"1d60cf5.81e2c31","type":"mqtt in","name":"VideoFeedback","topic":"Testsites/MunktellSiencePark/mainmeter/meterevent","broker":"77af24f0.48e874","x":264,"y":162,"z":"d618b392.c19818","wires":[["fdf1229f.e1a1f8"]]},{"id":"fdf1229f.e1a1f8","type":"function","name":"Daily","func":"var newMsg, diff, fromStart, date, dString;\nvar words = msg.payload.split(\" \");\nvar energyNow = words[1].replace(/\"|,/g,'');\nvar seconds = parseFloat(words[5].replace(/\"|}/g,''));\n\nseconds = seconds; \n\n/* Convert time to date */\ndate = new Date();\n\n/* Set the time for right timezone, right now in GMT+1(wintertime) */\ndate.setHours(date.getHours() + (new Date().getTimezoneOffset()/-60));\n\ndString = date.getDate() + \"-\"; \nif(date.getMonth()+1 < 10)\n\tdString = dString + 0 + (date.getMonth()+1) + \"-\";\nelse\n\tdString = dString + (date.getMonth()+1) + \"-\";\ndString = dString + date.getFullYear();\n\n/* Reset values if  */\nif(context.today != date.getDate()){\n\tcontext.today = date.getDate();\n\tcontext.energyStart = energyNow;\t\n\tcontext.last = 0;\n}\n/* Calculating difference and used energy from start*/\ndiff = (energyNow - context.last).toFixed(2); \nfromStart = (energyNow - context.energyStart).toFixed(2);\n\n/* Creating the payload */\nnewMsg = { payload: \n\t\t\t{energy: energyNow, \n\t\t\tdifference: diff, \n\t\t\taccumulated: fromStart,\n\t\t\tlast: context.last,\n\t\t\ttime: seconds,\n\t\t\tdate: dString,\n\t\t\tdateRaw: date,\n\t\t\tGMT: -new Date().getTimezoneOffset()/60}\n\t\t\t};\n\n/* Update context.last to now */\nif(diff >= 1)\n{\n\tcontext.last = energyNow;\n\treturn newMsg;\n}\nelse\n\treturn null;","outputs":1,"x":473,"y":198,"z":"d618b392.c19818","wires":[["8e35191f.48739"]]},{"id":"8e35191f.48739","type":"mqtt out","name":"OutPut","topic":"VideoFeedbackDaily","qos":"","retain":"true","broker":"77af24f0.48e874","x":661,"y":168,"z":"d618b392.c19818","wires":[]}]